<div class="jumbotron">
<h2>Bem vindo ao Ofertas de Bolso</h2>
<p>Encontre as ofertas dos melhores supermercados!</p>
<p>Quer criar sua lista de ofertas? Clique aqui para se <%= link_to "cadastrar", "#", class: "btn btn-primary btn-lg" %>.</p>
</div>