<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @offer.description %>
</p>

<% if @offer.user == current_user %>
<%= link_to 'Editar', edit_offer_path(@offer) %> |
<% end %>
<%= link_to 'Voltar', offers_path %>
